<DOCTYPE html>
<html>
    <head>
        <title>
            
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}" />
    </head>
    <body>
        <header>
            <h1>Todo list:</h1>
            <a href="/todos/add">Add to list</a>
            <hr>
            <!--<a href="/todos/add">Remove from list</a>-->
            <td><a href="/todos/timer/"><button type="button" class="btn btn-default"><p>View Date</p></button></a></td>
            <hr>
           
        </header>